.hero-parent{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap:20px
}
.hero{
    box-shadow: 0px 1px 10px rgb(255,0,0);
    padding: 10px;
    border-radius: 5px;
}